body {
  background-color: #fff8e1;
  padding-top: 20px;
}

label.btn.btn-danger.check.active{
  background-color: green;
  border-color: green;
}

.btn-block {
  max-width: 130px;
}

footer {
  padding-top: 1em;
}
